@import url("../../../lib/css/root.css");
@import url("../../../lib/css/typography/fonts/inter.css");

.atm-h5 {
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0;
  margin: 0;
  text-align: left;
}
