@import url("../../../lib/css/root.css");
@import url("../../../lib/css/typography/fonts/inter.css");

.atm-body-sm {
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
