@import url("../../../lib/css/root.css");
@import url("../../../lib/css/typography/fonts/inter.css");

.atm-h2 {
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0;
  margin: 0;
  text-align: left;
}
