@import url("../../../lib/css/root.css");
@import url("../../../lib/css/typography/fonts/inter.css");

.atm-label {
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
}
