@import url("../../../lib/css/root.css");
@import url("../../../lib/css/typography/fonts/calistoga.css");

.atm-h1 {
  color: var(--text-color);
  font-family: Calistoga, sans-serif;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0;
  margin: 0;
  text-align: left;
}
