@import url("../../../lib/css/root.css");
@import url("../../../lib/css/typography/fonts/inter.css");

.atm-body-lg {
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
