@import url("../../../lib/css/root.css");
@import url("../../../lib/css/typography/fonts/inter.css");

.atm-body-md {
  color: var(--text-color);
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
