<link bundle-for-render href="./mcl-row-col.css" rel="stylesheet" />
<script bundle-for-render src="./mcl-row-col.js" type="module"></script>

<div class="atm-row" is="mcl-row-col">
  <slot name="default"></slot>
</div>
