@import url("../../../lib/css/colors/gray/50.css");

.mcl-accordian-item {
  border-bottom: 1px solid var(--gray-50);
  border-top: 1px solid var(--gray-50);
}

.mcl-accordian-item:first-child {
  border-bottom: initial;
}

.mcl-accordian-item:last-child {
  border-top: initial;
}
