@import url("../../../lib/css/root.css");

.mcl-accordian-title {
  color: var(--text-color);
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  list-style: none;
  margin: 0;
}

.mcl-accordian-title:hover {
  background-color: var(--hover-color);
}
