@import url("./colors/black.css");
@import url("./colors/gray/20.css");
@import url("./colors/white.css");

:root {
  --bg-color: var(--white);
  --hover-color: var(--gray-20);
  --txt-color: var(--black);
}
