@import url("../../lib/css/colors/gray/30.css");
@import url("../../lib/css/colors/gray/80.css");
@import url("../../lib/css/colors/white.css");

.atm-input-text {
  background-color: var(--gray-80);
  border-radius: 5px;
  box-sizing: border-box;
  min-height: 45px;
  min-width: 400px;
  outline-style: none;
}

.atm-input-text:focus {
  background-color: var(--white);
  border: 1px solid var(--gray-80);
}

.atm-input-text:invalid {
  box-shadow: 0 3px 6px var(--error-00);
}
