@import url("../../lib/css/colors/gray/80.css");
@import url("../../lib/css/colors/white.css");

.atm-select {
  background: var(--white) 0% 0% no-repeat padding-box;
  border: 1px solid var(--gray-80);
  border-radius: 5px;
}

.atm-select:focus {
  border-radius: 5px 5px 0 0;
}
